/* App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
}

h1 {
  text-align: center;
  color: #333;
}

.task-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.task-list li {
  background-color: #f9f9f9;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para os botões Editar e Excluir */
button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px; /* Reduzindo o tamanho do botão */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; /* Ajustando o tamanho da fonte */
  margin: 0 5px; /* Adicionando espaço entre os botões */
}

button:hover {
  background-color: #45a049;
}

/* Botões de Editar e Excluir com cores distintas */
button.edit {
  background-color: #FFA500; /* Cor laranja para o botão de Editar */
}

button.edit:hover {
  background-color: #e69500;
}

button.delete {
  background-color: #f44336; /* Cor vermelha para o botão de Excluir */
}

button.delete:hover {
  background-color: #da190b;
}

input, textarea {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

input:focus, textarea:focus {
  border-color: #4CAF50;
  outline: none;
}
